<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Users</title>
    <meta name="description" content="APP Web Task 5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body>
    <div class="grid-container">
        <div class="grid-item header">
            <header>
                <h2><b>APP Single Page App</b></h2>
            </header>
        </div>
        <div class="grid-item one">
            <section id="sectUsers">
                <h2>Users List</h2>
                <div id="divPageNumber">Page <span id="pageNumber">1</span> of <span id="totalPages">2</span></div>
                 <button id="btnPrevious">Previous</button><button id="btnNext">Next</button>
                <table id="tblUsers">
                    <thead  id="userHead">
                        <tr id="tblUserHeader">
                            <th>User ID</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Avatar</th>
                        </tr>
                    </thead>
                    <tbody id="userBody">
                        <tr id="user1">
                            <td>1</td>
                            <td>george.bluth@reqres.in</td>
                            <td>George</td>
                            <td>Bluth</td>
                            <td><img src="https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg"
                                    alt="avatar"></td>
                        </tr>
                        <tr id="user2">
                            <td>2</td>
                            <td>janet.weaver@reqres.in</td>
                            <td>Janet</td>
                            <td>Weaver</td>
                            <td><img src="https://s3.amazonaws.com/uifaces/faces/twitter/josephstein/128.jpg"
                                    alt="avatar"></td>
                        </tr>
                        <tr id="user3">
                            <td>3</td>
                            <td>emma.wong@reqres.in</td>
                            <td>Emma</td>
                            <td>Wong</td>
                            <td><img src="https://s3.amazonaws.com/uifaces/faces/twitter/olegpogodaev/128.jpg"
                                    alt="avatar"></td>
                        </tr>
                        <tr id="user4">
                            <td>4</td>
                            <td>eve.holt@reqres.in</td>
                            <td>Eve</td>
                            <td>Holt</td>
                            <td><img src="https://s3.amazonaws.com/uifaces/faces/twitter/marcoramires/128.jpg"
                                    alt="avatar"></td>
                        </tr>
                        <tr id="user5">
                            <td>5</td>
                            <td>charles.morris@reqres.in</td>
                            <td>Charles</td>
                            <td>Morris</td>
                            <td><img src="https://s3.amazonaws.com/uifaces/faces/twitter/stephenmoon/128.jpg"
                                    alt="avatar"></td>
                        </tr>
                        <tr id="user6">
                            <td>6</td>
                            <td>tracey.ramos@reqres.in</td>
                            <td>Tracey</td>
                            <td>Ramos</td>
                            <td><img src="https://s3.amazonaws.com/uifaces/faces/twitter/bigmancho/128.jpg"
                                    alt="avatar"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <div class="grid-item two">
            <section id="sectUser">
                <h2>Update User</h2>
                <div>
                    <img id="userAvatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg"
                        alt="avatar">
                    <form id="frmUser">
                        <label>User ID:</label>
                        <input type="text" id="userID"><br>
                        <label>Email:</label>
                        <input type="text" id="userEmail"><br>
                        <label>First Name:</label>
                        <input type="text" id="userFirstName"><br>
                        <label>Last Name:</label>
                        <input type="text" id="userLastName">
                        <div>
                            <button id="btnSaveUser">Save Changes</button>
                            <button id="btnDeleteUser">Delete User</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="grid-item three">
            <section id="sectNewUser">
                <h2>New User</h2>
                <div>
                    <form id="frmNewUser">
                        <label>User ID:</label>
                        <input type="text" id="newUserID"><br>
                        <label>Email:</label>
                        <input type="text" id="newUserEmail"><br>
                        <label>First Name:</label>
                        <input type="text" id="newUserFirstName"><br>
                        <label>Last Name:</label>
                        <input type="text" id="newUserLastName">
                        <div>
                            <button type="submit" id="btnNewUser">New User</button>
                        </div>
                    </form>
                </div>
            </section>

        </div>
    </div>


<script>

    /* function to load all the users from the api */

    document.addEventListener("DOMContentLoaded", () => {
           loadUsers();
        })

    function loadUsers() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", '/users/all', true);

            xhr.onload = function () {
                if (this.status == 200) {
                    var users = JSON.parse(this.responseText);
                    //console.log(users)

                    while (userBody.firstChild){
                        userBody.removeChild(userBody.firstChild)
                    }

                    var output = '';
                    for (i in users.users) {
                        output +=
                            '<tr>' +
                            '<td>' + users.users[i].id + '</td>' +
                            '<td>' + users.users[i].email + '</td>' +
                            '<td>' + users.users[i].firstName + '</td>' +
                            '<td>' + users.users[i].lastName + '</td>' +
                            '<td>' + users.users[i].avatar + '</td>' +
                            '</tr>'
                    }
                    document.getElementById('userBody').innerHTML = output;
                }
            }
            xhr.send()
        }

        /* Function to add users to the api when user form is entered */

              document.addEventListener('DOMContentLoaded', () => {
            document.getElementById("btnNewUser").addEventListener("click", addUser)
        })

        const addUser = function (ev) {
            ev.preventDefault();
            //let users = [];
            let user = {
                id: document.getElementById("newUserID").value,
                email: document.getElementById("newUserEmail").value,
                firstName: document.getElementById("newUserFirstName").value,
                lastName: document.getElementById("newUserLastName").value
            }
            //users.push(user); //pushes to array
            document.getElementById("frmNewUser").reset();
            //console.log(users)
            let json = JSON.stringify(user); //array to json string
            console.log(json)

            const xhr = new XMLHttpRequest();

            xhr.open("POST", "/users/all", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(json);
        }

</script>
</body>

</html>